.main-nav a {
    display: inline-block;
    color: black;
    padding: 60px 0px 20px 80px;
    text-align: right;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    position: relative;
    float: right;
}

.main-title {
    display: inline-block;
    color: black;
    padding: 60px 60px 20px 0px;
    text-align: left;
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: none;
    position: relative;
    float: left;
}

.image-1 {
    text-align: center;
    width: 100%;
    margin-bottom: 80px;
}

.text {
    
}

#section-3 {
    margin-bottom: 100px;
}

#section-4 {
    margin-bottom: 100px;
}

#section-5 {
    margin-bottom: 100px;
}

#section-6 {
    margin-bottom: 100px;
    background-color: #dedede;
    padding: 0px 0 10px 0;
}

.form-title {
    text-align: center;
}

.form-group {
    text-align: center !important;
}

.button-lead {
    text-align: center;
}

#section-7 {
    margin-bottom: 100px;
}

#section-8 {
    margin-bottom: 100px;
}

#section-9 {
    background-color: #dedede;
}

.main-footer {
    float: left;
    padding: 20px;
    background-color: #dedede;
}

/* .footer-right a img {
    margin-left: 15px;
    float: right;
}  */

.form-email {
    padding: 0 275px;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: #606060;
}

.last-button {
    color: #ffffff;
}

.sosial-footer {
    float: right;
    margin-left: 15px;
}

