.main-nav a {
    display: inline-block;
    color: black;
    padding: 60px 0px 20px 80px;
    text-align: right;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    position: relative;
    float: right;
}

.main-title {
    display: inline-block;
    color: black;
    padding: 60px 60px 20px 0px;
    text-align: left;
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: none;
    position: relative;
    float: left;
}

.image-1 {
    text-align: center;
    width: 100%;
    margin-bottom: 80px;
}

.top-content{
    padding: 0px 80px;
}

.end-minimo-section-3 .image-section-3 img {
    width: 20px;
    float: right;
}

.end-part-3 {
    float: left;
    margin-left: 30px;
    position: relative;
    padding: 3px;
    font-size: 12px;
    color: #B8B8B8;
}

.image-section-4 {
    width: 320px;
}

.minimo-section-3 {
    margin-bottom: 50px;
}

.minimo-section-4 {
    background-color: #dedede;
    padding: 50px 0 70px 0;
    margin: 50px 0 50px 0;
}

.image-section-3-2 img {
    width: 20px;
    margin-left: 10px;
}

.sosial-footer {
    float: right;
    margin-left: 15px;
}

.main-footer {
    float: left;
    padding: 20px;
    background-color: #dedede;
}

#section-9 {
    background-color: #dedede;
    margin-top: 100px;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: #606060;
}